<nav>
      <div class="logo"><a href="/">CovInfo</a></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a class="active1" href="/about">About</a></li>
        <li><a class="active2" href="/precautions">Precautions</a></li>
        <li><a class="active2" href="/statewise">State-Wise</a></li>
      </ul>
</nav>

 

