<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Tracker</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/png" href="siteicon.png" sizes="16x16">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="navbar_style.css">
</head>
<style>
        h2{
            text-align: center;
        }
        .socials{
            font-size: 24px;
            text-align: center;
            padding: 10px;
            margin: 15px 10px;
        }
        .socials:hover{
            color: rgb(235, 41, 115)!important;
        }
        .space{
            margin: 0 15px;
        }
        .marvel {
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            text-decoration: none;
            
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
</style>
<body>
    {{>navbar}}
    <div class="marvel">
        <h2>About Me:</h2>
        <div class="myinfo">
            <p><br>Hey there! I'm Sumedh Badnore, a computer science master's student who's super passionate about using code to solve complex challenges. I'm always on the lookout for new tech to explore
                    and learn about. I'm open to collaborating on projects that align with my passion for tech and learning, so let's connect and see how I can help with your next venture!<br>
                <br>Connect with me: 
            </p>
        </div>
        <div class="socials">
            <a href="https://github.com/sumedhbadnore" target="blank"><i class="uil uil-github-alt"></i></a>
            <a href="https://www.linkedin.com/in/sumedh-badnore/" target="blank"><i class="uil uil-linkedin-alt space"></i></a>
            <a href="https://www.linkedin.com/in/sumedh-badnore/" target="blank"><i class="uil uil-envelope"></i></a>
        </div>
    </div>
    
</body>
</html>
