<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Tracker</title>
    <link rel="icon" type="image/png" href="siteicon.png" sizes="16x16">
    <link rel="stylesheet" href="navbar_style.css">
    <link rel="stylesheet" href="card.css">

  
</head>
<body>
    {{>navbar}}

    <div class="container">
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 01 </h2>
                    <h3>Maintain Distance</h3>
                    <p>Avoid close contact with people who are sick. If possible, Stay at least 6 feet (about 2 arm lengths) from other people.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 02 </h2>
                    <h3>Get Vaccinated</h3>
                    <p>Authorized COVID-19 vaccines can help protect you from COVID-19.You should get a COVID-19 vaccine when it is available to you.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/index.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 03 </h2>
                    <h3>Wash Your Hands</h3>
                    <p>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 04 </h2>
                    <h3>Clean and Disinfect</h3>
                    <p>Clean high touch surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 05 </h2>
                    <h3>Monitor Your Health</h3>
                    <p>Be alert for symptoms. Watch for fever, cough, shortness of breath, or other symptoms of COVID-19.Take your temperature if symptoms develop.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 06 </h2>
                    <h3>Wear a Mask</h3>
                    <p>If you are not fully vaccinated and aged 2 or older, you should wear a mask in indoor public places and outdoor places</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
      
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 07 </h2>
                    <h3>Avoid Crowds</h3>
                    <p>Being in crowds like in restaurants, bars, fitness centers, or movie theaters puts you at higher risk for COVID-19.</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="contentbox">
                    <h2> 08 </h2>
                    <h3>Cover Your Mouth</h3>
                    <p>If wearing a mask: You can cough or sneeze into your mask. If not wearing a mask Always cover your mouth and nose with a tissue when you cough or sneeze</p>
                    <a class="link"target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Read More</a>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>