body
{
    background-color: white;
}
.container{
 
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
   
    flex-wrap: wrap;
    padding: 40px 0;
    border: none;
    

}

.container .card{
    position: relative;
    width:320px;
    height: 440px;
    margin: 30px;
    /* box-shadow: inset 5px 5px 5px rgba(0,0,0,0),
                inset -5px -5px 5px rgba(12, 12, 12, 0.5),
                5px 5px 5px rgba(0,0,0,0.5),
                -5px -5px 5px rgba(12, 12, 12, 0.5); */
    border-radius: 15px;
    margin:30px;
    background-color: white;
  
   
}

.container .card .box{
    position: absolute;
    top: 20px;
    left:20px;
    right: 20px;
    bottom: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.5s ;

}
.container .card:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
    background:linear-gradient(45deg, #d31d44,rgb(207, 18, 207), #2640d3);
}

.container .card .box .contentbox{
    padding:20px;
    text-align: center;
}

.container .card .box .contentbox h2{

    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2em;
    transition:0.5s ;
}

.container .card:hover .box .contentbox h2
{
    color: rgba(0,0,0,0.05);
}

.container .card:hover .box .contentbox h3
{
    
    font-size: 1.1em;
    color:#777;
    z-index:-1;
    transition: 0.5s;

}
.container .card:hover .box .contentbox h3,
.container .card:hover .box .contentbox p
{
    color:#fff
}
.container .card .box .contentbox p
{   
    padding-top: 10px;
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: -1;
    transition: 0.5s;
}
.container .card .box .contentbox .link
{
     position: relative;
     display: inline-block;
     padding: 8px 20px;
     background: #03a9f4;
     margin-top:15px;
     border-radius: 20px;
     color:#fff;
     text-decoration: none;
     font-weight: 400;
     box-shadow: 0px 10px 20px rgba(0,0,0,0.2);

}

.container .card:hover .box .contentbox .link
{
    background: #ff568f;
     

}

